body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eef2f7;
  overflow-y: hidden;
}

.pricipal {
  height: 50%;
  width: 50%;
  background-color: rgb(230, 230, 230);
  box-shadow: 0 8px 6px -6px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputs {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30px 30px 30px 40px;
  justify-content: center;
  align-items: center;
}

.checkbox {
  justify-self: center;
  margin: 5px;
}

label {
  justify-self: center;
}

.input-range {
  justify-self: center;
}

.label-range {
  animation: fadeIn 3s;
}

.password-generator {
  display: flex;
  justify-content: center;
}

#btn-submit {
border: none;
padding: 5px;
cursor: pointer;
background-color: rgb(18, 102, 3);
color: white;
}

#btn-submit:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.password {
  display: flex;
  justify-content: center;
  align-items: center;
}

#passworsValue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  width: 120px;
  margin-top: 40px;
  border: thin solid black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
